<h1>NEWS FEED</h1>

<% console.log(user)  %> 
<% for(let i = 0; i < posts.length; i++) { %> 
    <% let postItem = posts[i].get() %> 
     <img src="<%= postItem.img %>" alt="Food Truck">
     <h1>test</h1>
    
        <p><%= user %> </p>
        <h1>test 2</h1>
        
        <p><%= postItem.nameOfTruck %> </p>
        <p><%= postItem.city %></p>
        <p><%= postItem.description %> </p>
   <% } %> 
        
        
     



