<h1 class="newsFeed">WHATS NEW</h1>


<% for(let i = 0; i < posts.length; i++) { %> 
    <% let postItem = posts[i].get() %> 
     <img id="images" src="<%= postItem.img %>" alt="Food Truck">
     <p><%= postItem.nameOfTruck %> </p>
     <p><%= postItem.city %></p>
     <p><%= postItem.description %> </p>
     <p>Rolling Foodie: <%= postItem.user.name  %></p>
    
<% } %> 
     
        
        
     



