<h1 class="profileHead">Welcome to your profile</h1>
<h2 class="profileUsername"><%= name%></h2>

<form action="/newsFeed"  method="POST" enctype="multipart/form-data">
  
    <label for="nameOfTruck" class="profileNameOfTruck">Name of truck</label>
    <input type="text" name="nameOfTruck" class="profileNameOfTruckInput"><br>
    <label for="city" class="profileCity">city</label>
    <input type="text" name="city" class="profileCityInput"><br>
    <label for="description" class="profileDescription">description</label>
    <input type="text" name="description" class="profileDescriptionInput"><br>
    <label for="inputFile" class="profileImage">Image</label>
    <input type="file" name="inputFile" class="profileChooseFile"><br>
    <button type="submit" class="btn btn-primary" id="profileUpload">Upload Image</button>
</form>
<img src="../imagesFolder/foodtrucks.jpg" alt="image">
 
<% for(let i = 0; i < allPosts.length; i++) { %> 
    <% let postItem = allPosts[i].get() %> 
     <img src="<%= postItem.img %>" alt="Food Truck">
     <p><%= postItem.userId %> </p>
     <p><%= postItem.name %> </p>
<% } %> 
     





<p>Name: <%= name %></p>
<p>Email: <%= email %></p>




